## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key="AIzaSyBEXyEF7zF7FbHVLbYML_Pw-avEftGaVjw")

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/Weather_database.csv")
city_data_df.head()

,City_ID,City,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Mount Gambier,2020-10-30 01:16:21,-37.83,140.77,59.00,72,90,11.41,AU,overcast clouds
1,1,Castro,2020-10-30 01:15:25,-24.79,-50.01,60.08,96,100,7.00,BR,light rain
2,2,Kapaa,2020-10-30 01:15:30,22.08,-159.32,82.40,58,1,12.75,US,clear sky
3,3,Punta Arenas,2020-10-30 01:15:06,-53.15,-70.92,46.40,70,75,8.05,CL,broken clouds
4,4,Faanui,2020-10-30 01:15:57,-16.48,-151.75,80.29,78,0,10.04,PF,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
2,2,Kapaa,2020-10-30 01:15:30,22.08,-159.32,82.40,58,1,12.75,US,clear sky
4,4,Faanui,2020-10-30 01:15:57,-16.48,-151.75,80.29,78,0,10.04,PF,light rain
5,5,Victoria,2020-10-30 01:14:16,22.29,114.16,75.00,80,96,1.01,HK,overcast clouds
9,9,Puerto Escondido,2020-10-30 01:16:13,15.85,-97.07,78.80,74,90,5.82,MX,moderate rain
12,12,Sibu,2020-10-30 01:16:38,2.30,111.82,78.80,88,40,2.24,MY,scattered clouds
13,13,Butaritari,2020-10-30 01:15:00,3.07,172.79,82.04,75,79,12.84,KI,broken clouds
14,14,Laguna,2020-10-30 01:16:38,38.42,-121.42,77.00,37,1,2.28,US,clear sky
21,21,Luis Correia,2020-10-30 01:16:39,-2.88,-41.67,80.33,69,46,17.96,BR,scattered clouds
25,25,Samarai,2020-10-30 01:16:39,-10.62,150.67,81.72,77,31,9.19,PG,light rain
26,26,Rikitea,2020-10-30 01:15:05,-23.12,-134.97,75.45,74,100,7.65,PF,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                179
City                   179
Date                   179
Lat                    179
Lng                    179
Max Temp               179
Humidity               179
Cloudiness             179
Wind Speed             179
Country                179
Current Description    179
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                179
City                   179
Date                   179
Lat                    179
Lng                    179
Max Temp               179
Humidity               179
Cloudiness             179
Wind Speed             179
Country                179
Current Description    179
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kapaa,US,82.40,clear sky,22.08,-159.32,
4,Faanui,PF,80.29,light rain,-16.48,-151.75,
5,Victoria,HK,75.00,overcast clouds,22.29,114.16,
9,Puerto Escondido,MX,78.80,moderate rain,15.85,-97.07,
12,Sibu,MY,78.80,scattered clouds,2.30,111.82,
13,Butaritari,KI,82.04,broken clouds,3.07,172.79,
14,Laguna,US,77.00,clear sky,38.42,-121.42,
21,Luis Correia,BR,80.33,scattered clouds,-2.88,-41.67,
25,Samarai,PG,81.72,light rain,-10.62,150.67,
26,Rikitea,PF,75.45,overcast clouds,-23.12,-134.97,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   179
Country                179
Max Temp               179
Current Description    179
Lat                    179
Lng                    179
Hotel Name             179
dtype: int64

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>

<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))